body {
      background-image: 
}

#container {
margin-right: 10px;

}

.jumbotron {
  background-color: black;
  color: white;
  width: 100%;
  
}

.mypic {
  float: left;
  margin-left: 15px;

}

h1 {
  margin-left: 30px;
  font-family: 'Catamaran', sans-serif;
}

.hr1{
 border-color: red;
}


.lead {
  margin-left: 100px;
  font-family: 'Big Shoulders Display', cursive;
  
}

.navs {
  float: right;
  margin-right: 150px;
  margin-top: -210px;
  color: white;
  
  
  
}

.text {
  color:orange;
  
}

.left {
  margin-left: 300px;
  width: 50%;
}

.footer {
  margin-top: 200px;
  width: 100%;
  height: 20px;
  background-color: black;
  color: white;
}


