body {
      background-image: 
}

#container {
margin-right: 10px;

}

.jumbotron {
  background-color: black;
  color: white;
  width: 100%;
  
}

.mypic {
  
  margin-bottom: 5px;

}

h1 {
  margin-left: 30px;
  font-family: 'Catamaran', sans-serif;
}

.hr1{
 border-color: red;
}


.lead {
  margin-left: 30px;
  font-family: 'Big Shoulders Display', cursive;
}

.navs {
  float: right;
  margin-right: 150px;
  margin-top: -210px;
  color: white;
  
  
  
}

.text {
  color:orange;
  
}

.left {
  float: left;
  padding: 0 10px 0 0;
}


